<form [formGroup]="personalInfoForm" class="personal-information__form">
  <div class="form__row">
    <mat-form-field class="form__field">
      <mat-label>First name (optional)</mat-label>
      <input matInput type="text" formControlName="firstName">
    </mat-form-field>
    <mat-form-field class="form__field">
      <mat-label>Last name (optional)</mat-label>
      <input matInput type="text" formControlName="lastName">
    </mat-form-field>
  </div>

  <div class="form__row">
    <mat-form-field class="form__field">
      <mat-label>
        Email address
        @if (personalInfoForm?.errors?.['emailMismatch']) {
          <span class="form__field--error">
            (Emails do not match)
          </span>
        }
      </mat-label>
      <input matInput type="text" formControlName="emailAddress">

      @if (personalInfoForm.controls.emailAddress?.hasError('required')) {
        <mat-error>
          Email is required
        </mat-error>
      }
      @if (personalInfoForm.controls.emailAddress?.hasError('email')) {
        <mat-error>
          Must be a valid email
        </mat-error>
      }

    </mat-form-field>
    <mat-form-field class="form__field">
      <mat-label>
        Confirm email address
        @if (personalInfoForm?.errors?.['emailMismatch']) {
          <span class="form__field--error">
            (Emails do not match)
          </span>
        }
      </mat-label>
      <input matInput type="text" formControlName="confirmEmailAddress">


      @if (personalInfoForm.controls.confirmEmailAddress?.hasError('required')) {
        <mat-error>
          Confirmation email is required
        </mat-error>
      }
      @if (personalInfoForm.controls.confirmEmailAddress?.hasError('email')) {
        <mat-error>
          Must be a valid email
        </mat-error>
      }

    </mat-form-field>
  </div>

  <div class="form__row">
    <mat-form-field class="form__field">
      <mat-label>Language</mat-label>
      <mat-select formControlName="language">
        <mat-option value="en">English</mat-option>
        <mat-option value="fr">French</mat-option>
        <mat-option value="gr">German</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="form__field">
    </div>
  </div>
</form>
