:root {
  --white: #fff;

  --grey-10: #F8F8F8;
  --grey-50: #F2F2F2;
  --grey-100: #EFEFEF;
  --grey-150: #e0e0e0;
  --grey-200: #ADADAD;

  --grey-border-50: #DEDEDE;

  --blue: #006BFF;

  --green: #26CC5B;

  --text-dark-blue: #003161;
  --text-dark-grey-50: #636363;
  --text-dark-grey-100: #595959;

  --error-red: #ba1a1a;
}
