.btn {
  padding: 12px 20px 11px;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.1s;
  cursor: pointer;

  &--transparent {
    background-color: transparent;
    color: var(--blue);

    &:hover {
      border: 1px solid var(--blue);
      background-color: var(--white);
    }
  }

  &--green {
    background-color: var(--green);
    color: var(--white);

    &:hover {
      background-color: var(--white);
      color: var(--green);
      border: 1px solid var(--green);
    }
  }
}
