:root {
  --grey-10: #F8F8F8;
  --grey-50: #F2F2F2;
  --grey-100: #EFEFEF;
  --grey-200: #ADADAD;

  --grey-border-50: #DEDEDE;

  --blue: #006BFF;

  --text-dark-blue: #003161;
  --text-dark-grey: #636363;
}
