<header class="header">
  <div class="container">
    <p class="header__title">
      Add new user
    </p>
    <div class="header__buttons">
      <button class="header__button">cancel</button>
      <button class="header__button">save user</button>
    </div>
  </div>
</header>
<main>
  <section class="container-small">
    <app-personal-information></app-personal-information>
  </section>
  <section class="container-small">
    <app-role-assignment></app-role-assignment>
  </section>
  <section class="container-small">
    <app-permissions></app-permissions>
  </section>
</main>
