<header class="header">
  <div class="container header__content">
    <p class="header__title">
      Add new user
    </p>
    <div class="header__buttons">
      <button class="btn btn--transparent" (click)="onCancel()">Cancel</button>
      <button class="btn btn--green" (click)="onSaveUser()">Save user</button>
    </div>
  </div>
</header>

<main class="main">
  <section class="section">
    <div class="container-small">
      <p class="section__title">
        Personal information
      </p>
      <app-personal-information></app-personal-information>
    </div>
  </section>

  <section class="section">
    <div class="container-small">
      <p class="section__title">
        Assign a role
      </p>
      <app-role-assignment></app-role-assignment>
    </div>
  </section>

  <section class="section">
    <div class="container-small">
      <p class="section__title">
        Custom access permissions
      </p>
      <app-permissions></app-permissions>
    </div>
  </section>
</main>
