<form action="">
  <section class="perm-form perm-form__devider">
    <div class="perm-form__title">
      <img src="/assets/icons/report.svg" alt="dashboard">
      DASHBOARD ACCESS
    </div>

    <div class="inner-section">
      <p class="inner-section__title">
        TOUCHPOINT
      </p>
      <p class="inner-section__title">
        DASHBOARD
      </p>
    </div>

    <div class="inner-section inner-section__devider">
      <div class="inner-section__name">
        <img src="/assets/icons/email-touchpoint.svg" width="30px" alt="email-touchpoint">
        Touchpoint email 1
      </div>
      <div class="inner-section__checkboxes">
        <div>
          <mat-checkbox class="example-margin" [checked]="true">
            <div class="checkbox__title">
              <img src="/assets/icons/dashboard.svg" alt="dashboard">
              Default
            </div>
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="inner-section">
      <div class="inner-section__name">
      </div>
      <div class="inner-section__checkboxes">
        <div>
          <mat-checkbox class="example-margin" [checked]="true">
            <div class="checkbox__title">
              <img src="/assets/icons/dashboard.svg" alt="dashboard">
              Custom NPS dashboard
            </div>
          </mat-checkbox>
        </div>
      </div>
    </div>

    <div class="inner-section inner-section__devider">
      <div class="inner-section__name">
        <img src="/assets/icons/email-touchpoint.svg" width="30px" alt="email-touchpoint">
        Touchpoint email 2
      </div>
      <div class="inner-section__checkboxes">
        <div>
          <mat-checkbox class="example-margin" [checked]="true">
            <div class="checkbox__title">
              <img src="/assets/icons/dashboard.svg" alt="dashboard">
              Default
            </div>
          </mat-checkbox>
        </div>
      </div>
    </div>
  </section>

  <section class="perm-form">
    <div class="perm-form__title">
      <img src="/assets/icons/report.svg" alt="dashboard">
      REPORTS
    </div>

    <div class="inner-section">
      <p class="inner-section__title">
        TOUCHPOINT
      </p>
      <p class="inner-section__title">
        REPORT
      </p>
    </div>

    <div class="inner-section inner-section__devider">
      <div class="inner-section__name">
        <img src="/assets/icons/email-touchpoint.svg" width="30px" alt="email-touchpoint">
        Touchpoint email 1
      </div>
      <div class="inner-section__checkboxes">
        <div>
          <mat-checkbox class="example-margin" [checked]="true">
            <div class="checkbox__title">
              <img src="/assets/icons/dashboard.svg" alt="dashboard">
              Default
            </div>
          </mat-checkbox>
        </div>
      </div>
    </div>

    <div class="inner-section inner-section__devider">
      <div class="inner-section__name">
        <img src="/assets/icons/email-touchpoint.svg" width="30px" alt="email-touchpoint">
        Touchpoint email 2
      </div>
      <div class="inner-section__checkboxes">
        <div>
          <mat-checkbox class="example-margin" [checked]="true">
            <div class="checkbox__title">
              <img src="/assets/icons/dashboard.svg" alt="dashboard">
              Default
            </div>
          </mat-checkbox>
        </div>
      </div>
    </div>
  </section>
</form>
